.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: rgba(0, 0, 0, 0.02);
}

.card {
  background: #cfe3e5;
  padding: 30px ;
  margin-left: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.title {
  text-align: center;
  color: #016a69;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  font-size: 14px;
  margin: 8px 0 5px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
}

.pwRow {
  display: flex;
  align-items: center;
  position: relative;
}

.eyeBtn {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 15px;
}

.link {
  color: #016a69;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.btn {
  background: #016a69;
  color: white;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
